.navbar{
    background-color: rgb(206, 196, 255);
    text-decoration: none;
    border-radius: 15px;
    margin-top: 50px;
    margin-left:850px;
    margin-right: 100px;
    justify-content: center;

}
.navbar ul{
    overflow: auto;
    margin: 20px;
    text-align: center;

}

.navbar li{
    margin-top: 10px;
    margin-bottom: 12px;
    float: left;
    list-style: none;
    padding: 3px,3px;
    
}

.navbar li a{
    padding: 23px,13px;
    margin: 12px;
    text-decoration: none;
    
}
